In [2]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [36]:
train_data = pd.read_csv("0000000000013600_training_train.csv", delimiter = ",")
train = train_data.copy()
train.head()

   age     sex     bmi  children smoker     region      charges
0   51  female  33.915         0     no  northeast   9866.30485
1   55    male  32.775         0     no  northwest  10601.63225
2   18  female  39.160         0     no  southeast   1633.04440
3   27  female  31.400         0    yes  southwest  34838.87300
4   18    male  38.170         0    yes  southeast  36307.79830

In [37]:
test_data = pd.read_csv("0000000000013600_test_test.csv", delimiter = ",", header = None)
features = train.columns[:-1]
#print(features)
test = test_data.copy()
test.columns = features
test.head()

   age     sex     bmi  children smoker     region
0   33    male  35.245         0     no  northeast
1   46  female  27.720         1     no  southeast
2   19  female  28.900         0     no  southwest
3   53    male  26.410         2     no  northeast
4   18    male  41.140         0     no  southeast

In [41]:
train["region"].unique(), train["sex"].unique(), train["smoker"].unique()

(array([0, 1, 2, 3]), array([0, 1]), array([0, 1]))

In [42]:
test["region"].unique(), test["sex"].unique(), test["smoker"].unique()

(array([0, 2, 3, 1]), array([1, 0]), array([0, 1]))

In [40]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
  
train['sex']= label_encoder.fit_transform(train['sex'])
test['sex'] = label_encoder.transform(test['sex'])

train['smoker']= label_encoder.fit_transform(train['smoker'])
test['smoker']= label_encoder.transform(test['smoker'])

train['region']= label_encoder.fit_transform(train['region'])
test['region']= label_encoder.transform(test['region'])

In [43]:
train.head()

   age  sex     bmi  children  smoker  region      charges
0   51    0  33.915         0       0       0   9866.30485
1   55    1  32.775         0       0       1  10601.63225
2   18    0  39.160         0       0       2   1633.04440
3   27    0  31.400         0       1       3  34838.87300
4   18    1  38.170         0       1       2  36307.79830

In [44]:
test.head()

   age  sex     bmi  children  smoker  region
0   33    1  35.245         0       0       0
1   46    0  27.720         1       0       2
2   19    0  28.900         0       0       3
3   53    1  26.410         2       0       0
4   18    1  41.140         0       0       2

In [48]:
X = train.drop("charges", axis = 1)
Y = train["charges"]

In [49]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [51]:
X_train

     age  sex     bmi  children  smoker  region
5     64    1  37.905         0       0       1
54    39    0  24.890         3       1       0
275   45    0  27.645         1       0       1
883   19    0  25.745         1       0       1
344   32    0  29.590         1       0       2
..   ...  ...     ...       ...     ...     ...
106   18    0  24.090         1       0       2
270   27    1  45.900         2       0       3
860   23    0  28.490         1       1       2
435   36    0  22.600         2       1       3
102   39    0  23.275         3       0       0

[748 rows x 6 columns]

In [117]:
# Train the GradientBoostingRegressor model
gb_model = GradientBoostingRegressor(n_estimators = 1000, learning_rate = 0.005, max_depth = 3, random_state = 1)
gb_model.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=0.005, n_estimators=1000,
                          random_state=1)

In [118]:
# Make predictions on the test set
y_pred = gb_model.predict(X_test)

In [119]:
# Evaluate the model using mean squared error and R-squared
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean squared error: {mse}")
print(f"R-squared value: {r2}")

Mean squared error: 23881934.538910042
R-squared value: 0.8650284137042255

In [120]:
# Train the GradientBoostingRegressor model
gb_model = GradientBoostingRegressor(n_estimators = 1000, learning_rate = 0.005, max_depth = 3, random_state = 1)
gb_model.fit(X, Y)

GradientBoostingRegressor(learning_rate=0.005, n_estimators=1000,
                          random_state=1)

In [121]:
# Make predictions on the test set
Y_pred = gb_model.predict(test)

In [122]:
np.savetxt(X = Y_pred, fname = "Predicted.csv", delimiter = ",", fmt = "%.5f")